body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
.mapboxgl-popup { max-width: 260px; background: white; border-radius: 6px; padding: 0; }
.mapboxgl-popup-content { padding: 12px; }
#map canvas { cursor: default; }
