html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
}


#title-container {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 9999;
    color: black;
    pointer-events: none; 
}

#title-container h1 {
    font-size: 72px;
    margin: 0;
    font-weight: 700;
}

#title-container h2 {
    font-size: 36px;
    margin: 5px 0 0 0;
    font-weight: 400;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
