html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


#map {
    position: fixed;
    inset: 0;   
    width: 100%;
    height: 100%;
    z-index: 1;
}

#title-container {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 99999;   
    font-family: "Roboto Mono", monospace;
    color: black;
    pointer-events: none;  
}

#title-container h1 {
    margin: 0;
    font-size: 72px;
    font-weight: 700;
}

#title-container h2 {
    margin: 5px 0 0;
    font-size: 36px;
    font-weight: 400;
}

}

#title-container h3 {
    margin: 5px 0 0;
    font-size: 18px;
    font-weight: 400;
}
