html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#title-container {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 9999;
    font-family: "Roboto Mono", monospace;
    color: black;
    pointer-events: none;
}

#title-container h1 {
    margin: 0;
    font-size: 72px;
    font-weight: 700;
}

#title-container h2 {
    margin: 5px 0;
    font-size: 36px;
    font-weight: 400;
}

#title-container h3 {
    margin: 5px 0 0;
    font-size: 18px;
    font-weight: 400;
}

#ui-container {
    position: fixed;
    top: 225px; 
    left: 30px;
    padding: 15px;
    width: 260px;

    background: rgba(255, 255, 255, 0.95);

    border-radius: 10px;
    z-index: 99999;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

#ui-container h4 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 600;
}

#ui-container button {
    display: block;
    width: 100%;
    margin: 6px 0;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
}

#ui-container button:hover {
    background: #555;
}
